{% extends "DeepThought/templates/base.html" %}


{% block navbar %}
<nav aria-label="section navigation" class="navbar is-light is-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="{{config.base_url}}">
        <img src="{{ config.extra.author.logo }}" alt="ITcracy, Automation for Everyone" style="max-height: 6.5rem !important; position: fixed; margin-top: 28.5px">
        <p class="pl-6 ml-4">{{ config.title }}</p>
      </a>
      <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navMenu" role="button" style="margin-left: auto">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end has-text-centered">
        {% for item in config.extra.navbar_items %}
        {% if lang == item.code %}
        {% for nav in item.nav_items %}
        <a class="navbar-item" href='{{ nav.url | replace(from='$BASE_URL', to=config.base_url) }}'>
          {{ nav.name }}
        </a>
        {% endfor %}
        {% endif %}
        {% endfor %}
        <a class="navbar-item" id="nav-search" title="Search" data-target="#search-modal">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}
